<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clinical Data Creation</title>
    <link rel="stylesheet" href="{% static 'css/clinicals.css' %}">
</head>
<body>

    <h2>Patient Details</h2>

    First Name : {{patient.firstName}}
    Last Name : {{patient.lastName}}
    Age : {{patient.age}}

    <h2>Patient Clinical Data:</h2>
    <form method="post">
        <table>
            {{form.as_table}}
        </table>
        {% csrf_token %}
        <input type="submit" value="Save">
    </form>

</body>
</html>